.App {
  padding: 40px 0;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

.do-trip-filter{
  max-width: 400px;
  width: 100%;
  margin: 20px auto;
}

.do-trip-filter .form-group,
.do-trip-filter .btn-group{
  margin-bottom: 15px;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
